*.iml
.gradle
/local.properties
/App/.idea/caches
/App/.idea/libraries
/App/.idea/modules.xml
/App/.idea/workspace.xml
/App/.idea/navEditor.xml
/App/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
